# Node
node_modules/
dist/
build/

# React / frontend
.env

# Java / Spring Boot
target/
*.class
*.log
.mvn/wrapper/maven-wrapper.jar

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local config
application-local.properties